body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


/* @media (max-width: 767px) {
    
} */
h1 {
    text-align: center;
    font-size: 175%;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }



.section {
    background-color: rgb(140, 140, 140);
    margin: 15px;
    border: 4px solid black;
    box-sizing: border-box;
    
    padding: 10px;
    padding-top: 45px;
    position: relative;

}

.title {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 125%;
    font-weight: bold;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid black;
    }

    .chicken-title {
        background-color: pink;
    }
    
    .beef-title {
        background-color: red;
        color: white;
    }
    
    .sushi-title {
        background-color: yellow;
    }
    
   
.section {
    width: 100%;
}

    @media (min-width: 992px) {
        .section {
            width: calc(33.3333% - 30px);
        }
        
    }
    
    @media (max-width: 991px) AND (min-width: 768px) {
        .section {
            width: calc(50% - 30px);
        }
        .section:last-child {
            width: calc(100% - 30px);
        }
    }
    